<div class="container">
  <h2>Savar Contato</h2>
  <form>
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" name="nome" id="" class="form-control" placeholder="Insira seu nome">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" name="email" id="" class="form-control" placeholder="Insira seu email">
    </div>
    <div class="form-group">
      <label for="telefone">Telefone</label>
      <input type="text" name="telefone" id="" class="form-control" placeholder="Insira seu telefone">
    </div>
    <button type="submit" class="btn btn-success">Salvar</button>
    <a routerLink="/" class="btn btn-secondary">Voltar</a>
  </form>
</div>
